[submodule "third-party/glm"]
	path = third-party/glm
	url = https://github.com/g-truc/glm.git
[submodule "third-party/fmt"]
	path = third-party/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "third-party/benchmark"]
	path = third-party/benchmark
	url = https://github.com/google/benchmark.git
[submodule "third-party/glfw"]
	path = third-party/glfw
	url = https://github.com/glfw/glfw.git
